# Configurações do Servidor Express
PORT=3000

# Chaves do Banco de Dados & Autenticação (Supabase)
SUPABASE_URL=https://sua-url-do-supabase.supabase.co
SUPABASE_ANON_KEY=sua-chave-anonima-publica-do-supabase

# Conexão com o Redis (BullMQ Queue)
# Local (Docker): redis://127.0.0.1:6379
# Nuvem (Easypanel/Upstash): redis://default:senha@host:porta
REDIS_URL=redis://127.0.0.1:6379

# Configurações de Proxies Residenciais (Opcional - Evita bloqueios do Google)
PROXY_SERVER=
PROXY_USERNAME=
PROXY_PASSWORD=
